[user]
	name = butaosuinu
	email = buta.osuinu@gmail.com
[alias]
	st = status
    ps = push
    pst = push --tags
	co = checkout
    cob = checkout -b
    b = branch
    cm = commit
    pl = pull
    plr = pull --rebase
    rb = rebase
    cnfl = config -l
